.login {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginWrapper {
  width: 70%;
  height: 70%;
  display: flex;
}

.loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.yes{
  color:#147202
}
.text{
  margin-top: -50px;
  margin-left: -20%;
  font-weight: 700;
}



.loginLogo {
  font-size: 50px;
  font-weight: 800;
  color: #008812;
  margin-bottom:2px;
}



.loginDesc {
  font-size: 24px;

}

.loginBox{
    height: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginInput{
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}

.loginInput:focus{
    outline: none;
}

.loginButton{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #1775ee;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.loginForgot{
    text-align: center;
    color: #1775ee;
}

.loginRegisterButton{
    width: 60%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #008812;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}


.mybutton{
  width: 60%;
  align-self: center;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #008812;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  font-size: 12px;

}

.myloginbutton{
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #008812;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}


.returntohomepage{
  margin-top: -500px;
  background-color:rgb(206, 206, 206);
  color:black;
  font-weight: 700;
  border: none;
  border-radius: 5px;
padding:10px 40px ;

}

.returntohomepage:hover{
background-color: rgb(25, 124, 0);
color: rgb(255, 253, 253);
}


.thebuttonn{
  margin-top: -850px;
}

.textt{
font-size:0px ;
}


#specialicon{
display: none;

}



@media screen and (max-width:880px) {
  .mainsection{
    margin-left:-100px;

  }






}


@media screen and (max-width:700px) {
  .mainsection{
    display: none;

  }

.loginRight{
  margin-right:240px;
  margin-left:19px;
}

.textt{
  color: #008812;
  font-weight: 700;
  font-size: 30px;
}



.returntohomepage{
width: 60px;
height: 15px;
font-size: 0px;


}

#specialicon{
  display: inline-block;
  margin-left: -14px;
  }

  

}